.auth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(102, 93, 93, 0.1);
    width: 400px;
    margin: 50px auto;
    padding: 15px;
}